body {
	background-image: 
	url('https://64.media.tumblr.com/326ce0c41c1df17747718145d6ef7664/d109d0edff5233cc-f8/s2048x3072/68bac2431342a4699997ba786ac93fa3f5ab6ea1.pnj');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}